<div class="main-content-title-profile mb-50">
    <div class="main-content-title">
        <h3>Hi, {{currentUserService.currentUser()?.firstName}}! </h3>
        <img src="assets/img/dashboard/icon/love-icon.svg" alt>
    </div>
    <!-- <div class="profile">
        <a href="#">
            Voir le profil
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                <path d="M6.669 2.27202L0.94102 8L0 7.05898L5.72731 1.331H0.679478V0H8V7.32052H6.669V2.27202Z" />
            </svg>
        </a>
    </div> -->
</div>