<div class="home3-about-section pt-90 pb-90 mb-100">
    <div class="container">
        <div class="row g-lg-4 gy-5 mb-70">
            <div class="col-lg-6">
                <div class="about-content-wrap wow fadeInUp" data-wow-delay="200ms">
                    <div class="section-title1">
                        <span>(Depuis-2024)</span>
                        <h2>Apprenez à connaître Technova</h2>
                    </div>
                    <h6>Bienvenu sur Technova! </h6>
                    <p>Bienvenue dans notre agence immobilière, que vous recherchiez une maison à acheter ou à louer, ou
                        que vous ayez réellement une maison que vous avez l'intention de louer ou de vendre, vous êtes
                        au bon endroit.
                    </p>
                    <div class="author-area">
                        <img src="assets/img/home/icon/author-signature.svg" alt>
                        <div class="author-name-deg">
                            <h6>Technova</h6>
                            <span>(La société fondatrice)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="office-location-area wow fadeInUp" data-wow-delay="400ms">
                    <div class="swiper home3-about-img-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="about-img-wrap">
                                    <div class="logo-area"><img src="assets/img/home/about.svg" alt></div>
                                    <div class="about-img">
                                        <img src="assets/img/home/about-img-11.png" alt>
                                    </div>
                                    <div class="about-img">
                                        <img src="assets/img/home/about-img-12.png" alt>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="about-img-wrap">
                                    <div class="logo-area"><img src="assets/img/home/about.svg" alt></div>
                                    <div class="about-img">
                                        <img src="assets/img/home/about-img-13.png" alt>
                                    </div>
                                    <div class="about-img">
                                        <img src="assets/img/home/about-img-14.png" alt>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="about-img-wrap">
                                    <div class="logo-area"><img src="assets/img/home/about.svg" alt></div>
                                    <div class="about-img">
                                        <img src="assets/img/home/about-img-15.png" alt>
                                    </div>
                                    <div class="about-img">
                                        <img src="assets/img/home/about-img-16.png" alt>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-btn-group2">
                            <div class="slider-btn prev-6">
                                <svg width="9" height="15" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 6.50008L8 0L2.90909 6.50008L8 13L0 6.50008Z"></path>
                                </svg>
                            </div>
                            <div class="slider-btn next-6">
                                <svg width="9" height="15" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 6.50008L0 0L5.09091 6.50008L0 13L8 6.50008Z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="office-address">
                        <h6>Notre bureau</h6>
                        <a href="#">House-23/B12, Street 1/2, Panama City, PARIS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="our-activetis wow fadeInUp" data-wow-delay="200ms">
            <div class="row justify-content-center g-lg-4 gy-5">
                <div
                    class="col-lg-3 col-sm-4 col-sm-6 divider d-flex justify-content-lg-start justify-content-sm-center">
                    <div class="single-activiti">
                        <div class="icon">
                            <img src="assets/img/home/icon/av-project.svg" alt>
                        </div>
                        <div class="content">
                            <div class="number">
                                <h5 class="counter">600</h5>
                                <span>K+</span>
                            </div>
                            <p>Projet Disponible</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-sm-6 divider d-flex justify-content-sm-center">
                    <div class="single-activiti">
                        <div class="icon">
                            <img src="assets/img/home/icon/sold-car.svg" alt>
                        </div>
                        <div class="content">
                            <div class="number">
                                <h5 class="counter">400</h5>
                                <span>K+</span>
                            </div>
                            <p>Projet Vendu</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-sm-6 divider d-flex justify-content-sm-center">
                    <div class="single-activiti">
                        <div class="icon">
                            <img src="assets/img/home/icon/new-home.svg" alt>
                        </div>
                        <div class="content">
                            <div class="number">
                                <h5 class="counter">200</h5>
                                <span>K+</span>
                            </div>
                            <p>Nouvelle Maison</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-sm-6 d-flex justify-content-lg-end justify-content-sm-center">
                    <div class="single-activiti">
                        <div class="icon">
                            <img src="assets/img/home/icon/happy-customar.svg" alt>
                        </div>
                        <div class="content">
                            <div class="number">
                                <h5 class="counter">98.50</h5>
                                <span>%</span>
                            </div>
                            <p>Satisfaction Du Client</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>