.announce-body-card__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "view edit"
        "validate reject"
        "delete delete"
    ;
    gap: .3em;
}

@media screen and (max-width: 400px) {
    .announce-body-card__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "view"
            "edit"
            "validate"
            "reject"
            "delete"
        ;
    }
}