<div class="col-xxl-4 col-xl-3">
    <div class="add-property-icon-content">
        <div class="add-property-icon">
            <img src="assets/img/dashboard/icon/property-location-icon.svg" alt>
        </div>
        <h6>Installations supplémentaires</h6>
        <span></span>
    </div>
</div>
<div class="col-xxl-8 col-xl-9">
    <div class="add-property-form-wrapper">
        <div class="add-property-form-title">
            <h6>Installations supplémentaires</h6>
        </div>
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-inner mb-30">
                        <label>Centre-ville*</label>
                        <input type="text" placeholder="zone">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-inner mb-30">
                        <label>Hôpital*</label>
                        <input type="text" placeholder="zone">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-inner mb-30">
                        <label>Boutique*</label>
                        <input type="text" placeholder="zone">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-inner mb-30">
                        <label>Parc*</label>
                        <input type="text" placeholder="zone">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>