<div class="col-xxl-4 col-xl-3">
    <div class="add-property-icon-content">
        <div class="add-property-icon">
            <img src="assets/img/dashboard/icon/property-feature-icon.svg" alt>
        </div>
        <h6>Fonctionnalité et commodités</h6>
        <span></span>
    </div>
</div>
<div class="col-xxl-8 col-xl-9">
    <div class="add-property-form-wrapper">
        <div class="add-property-form-title">
            <h6>Fonctionnalité et commodités</h6>
        </div>
        <div class="feature-aminities-form">
            <form>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="form-inner mb-30">
                            <label>Chambre à coucher</label>
                            <div class="number-quantity-area">
                                <ul class="number-list">
                                    <li>01</li>
                                    <li>02</li>
                                    <li>03</li>
                                    <li>04</li>
                                    <li>05</li>
                                </ul>
                                <div class="quantity-counter">
                                    <input name="quantity" type="text" class="quantity__input" value="06">
                                    <a href="#" class="quantity__plus"><i class="bi bi-caret-up-fill"></i></a>
                                    <a href="#" class="quantity__minus"><i class="bi bi-caret-down-fill"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-inner mb-30">
                            <label>Salle à manger</label>
                            <div class="number-quantity-area">
                                <ul class="number-list">
                                    <li>01</li>
                                    <li>02</li>
                                    <li>03</li>
                                </ul>
                                <div class="quantity-counter">
                                    <input name="quantity" type="text" class="quantity__input" value="04">
                                    <a href="#" class="quantity__plus"><i class="bi bi-caret-up-fill"></i></a>
                                    <a href="#" class="quantity__minus"><i class="bi bi-caret-down-fill"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="form-inner mb-30">
                            <label>Salle de bain</label>
                            <div class="number-quantity-area">
                                <ul class="number-list">
                                    <li>01</li>
                                    <li>02</li>
                                    <li>03</li>
                                    <li>04</li>
                                    <li>05</li>
                                </ul>
                                <div class="quantity-counter">
                                    <input name="quantity" type="text" class="quantity__input" value="06">
                                    <a href="#" class="quantity__plus"><i class="bi bi-caret-up-fill"></i></a>
                                    <a href="#" class="quantity__minus"><i class="bi bi-caret-down-fill"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-inner mb-30">
                            <label>Balcon</label>
                            <div class="number-quantity-area">
                                <ul class="number-list">
                                    <li>01</li>
                                    <li>02</li>
                                    <li>03</li>
                                </ul>
                                <div class="quantity-counter">
                                    <input name="quantity" type="text" class="quantity__input" value="04">
                                    <a href="#" class="quantity__plus"><i class="bi bi-caret-up-fill"></i></a>
                                    <a href="#" class="quantity__minus"><i class="bi bi-caret-down-fill"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-inner">
                            <label>Autre fonctionnalité</label>
                            <div class="feature-check-area">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <ul class="feature-check-list">
                                            <li>
                                                <label class="containerss">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="text">Cheminée</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="containerss">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="text">Climatisation</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="containerss">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="text">Garage</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <ul class="feature-check-list">
                                            <li>
                                                <label class="containerss">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="text">Systèmes d'alarme</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="containerss">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="text">Cour de récréation</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="containerss">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="text">Club-house</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <ul class="feature-check-list">
                                            <li>
                                                <label class="containerss">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="text">Piscine</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="containerss">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="text">Systèmes sécurisés</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="containerss">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="text">Club de gym</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <ul class="feature-check-list">
                                            <li>
                                                <label class="containerss">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="text">Piscine</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="containerss">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="text">caméra de vidéosurveillance</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>