<div class="inner-page-banner">
    <div class="banner-wrapper">
        <div class="container-fluid">
            <div class="banner-main-content-wrap">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 d-flex align-items-center">
                        <div class="banner-content">
                            <h1>{{ currentText }}</h1>
                            <ul class="breadcrumb-list">
                                <li><a routerLink="">Accueil</a></li>
                                <li>{{ currentPage }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>