body {
    background-color: skyblue;
}

.small-box.h-100 {
    display: flex;
    flex-direction: column;
}

.small-box>.small-box-footer {
    margin-top: auto;
}

.sidebar-brand {
    height: 4.5rem;
}

.treac-logo {
    width: 180px;
}